body {
  font-family: 'Open Sans', sans-serif;
  background-color:  rgb(16,16,20);
}

.narrow-text {
  font-family: 'PT Sans Narrow', sans-serif;
}

.brutal-text {
  font-family: 'Brutal', sans-serif;
}
